<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net471" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net471" />
  <package id="Accord.Statistics" version="3.8.0" targetFramework="net471" />
  <package id="CommandLineParser" version="2.6.0" targetFramework="net471" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net471" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net471" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net471" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net471" />
  <package id="Microsoft.VisualBasic" version="10.3.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net45" />
  <package id="Unirest-API" version="1.0.7.6" targetFramework="net471" />
</packages>